<div class="main-container">
  <app-sidebar></app-sidebar>
  <div class="experience-container">
    <h2>Empresas con las que he trabajado</h2>

    <!-- Experiencia en Global Hitss -->
    <div class="experience-item">
      <div class="experience-content">
        <div class="experience-content-header">
          <div>
            <h3>Desarrollador CXaaS • Tiempo completo</h3>
            <h4>Global Hitss • Bogotá • septiembre 2024 – actualidad</h4>
          </div>
          <div class="company-logo">
            <img
              src="https://globalhitssconosur.com/images/globalhitss.png"
              alt="Global Hitss Logo"
            />
          </div>
        </div>

        <p>
          Desarrollador FullStack, responsable de proveer soluciones en frontend
          y backend para integración con sistemas de comunicación.
        </p>
        <ul>
          <li>Desarrollo de frontend con Angular.</li>
          <li>Soluciones Backend con Java Spring y NodeJS con Express.</li>
          <li>
            Integración de soluciones en la nube con Azure y onpremise Tomcat.
          </li>
          <li>
            Soluciones de autentificación y seguridad de APIs con Spring
            Security y NodeJS con Passport.
          </li>
        </ul>
      </div>
    </div>

    <!-- Experiencia en Optum -->
    <div class="experience-item">
      <div class="experience-content">
        <div class="experience-content-header">
          <div>
            <h3>Associate Workforce Capacity Planner • Tiempo completo</h3>
            <h4>OPTUM • Bogotá • enero 2023 – mayo 2024</h4>
          </div>
          <div class="company-logo">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/Optum_logo_2021.svg/1200px-Optum_logo_2021.svg.png"
              alt="Optum Logo"
            />
          </div>
        </div>

        <p>
          Responsable del procesamiento de datos relacionados con el Plan de
          Capacidad de Fuerza Laboral, gestión de KPIs del centro de contacto y
          análisis de datos.
        </p>

        <ul>
          <li>
            Planes de capacidad optimizados en 6 departamentos, lo que resultó
            en una disminución del 30% en los costos de llamadas y una mejor
            satisfacción de los empleados.
          </li>
          <li>
            Optimicé las operaciones mediante la implementación de la
            automatización de Python para el 50 % de las tareas y los procesos
            ETL, lo que generó una disminución del 17 % en la carga de trabajo
            del equipo de trabajo.
          </li>
          <li>
            Implementé procesos estandarizados para el equipo de informes, lo
            que resultó en una mejora del 20% en la precisión y la eficiencia de
            los datos del equipo.
          </li>
          <li>
            Garanticé la precisión de los datos de los empleados optimizando la
            base de datos en SQLServer.
          </li>
        </ul>
      </div>
    </div>

    <!-- Experiencia en Transcom -->
    <div class="experience-item">
      <div class="experience-content">
        <div class="experience-content-header">
          <div>
            <h3>Workforce Scheduler • Tiempo completo</h3>
            <h4>TRANSCOM • Bogotá • noviembre 2022 – enero 2023</h4>
          </div>
          <div class="company-logo">
            <img
              src="https://cdn.brandfetch.io/idUYRETeR_/w/400/h/400/theme/dark/icon.png?k=bfHSJFAPEG"
              alt="Transcom Logo"
            />
          </div>
        </div>

        <p>
          Encargado de procesar datos para programación y planificación, visual
          para Operaciones, análisis de métricas financieras y operativas.
        </p>

        <ul>
          <li>
            Mejoró la eficiencia de la programación al automatizar la
            comunicación con los asesores a través de Google Apps Script, lo que
            resultó en una reducción del 95 % en los errores de programación y
            una mejora en la productividad general de la operación.
          </li>
          <li>
            Aumentó los niveles de servicio en un 12% mediante la
            estandarización de la programación y la distribución de actividades,
            lo que resultó en un aumento del 12% en la satisfacción del cliente
            y la productividad.
          </li>
          <li>
            Creé un panel financiero para mostrar bonificaciones por métricas
            para medir el gasto de toda la organización en comparación con las
            métricas objetivo.
          </li>
        </ul>
      </div>
    </div>

    <!-- Experiencia en Teleperformance -->
    <div class="experience-item">
      <div class="experience-content">
        <div class="experience-content-header">
          <div>
            <h3>Senior Analyst • Tiempo completo</h3>
            <h4>TELEPERFORMANCE • Bogotá • mayo 2016 – septiembre 2022</h4>
          </div>
          <div class="company-logo">
            <img
              src="https://companieslogo.com/img/orig/TEP.PA-852ba98b.png?t=1720244494"
              alt="Teleperformance Logo"
            />
          </div>
        </div>

        <p>
          A cargo de los procedimientos de automatización de Workforce
          Management en SQL y Google Suit, responsable de la mejora de procesos
          operativos.
        </p>

        <ul>
          <li>
            Mejoró la productividad operativa al implementar RPA con secuencias
            para rastrear el estado en tiempo real de más de 2500 agentes, lo
            que generó una disminución del 12% en el tiempo promedio de manejo y
            un aumento del 40 % en la atención.
          </li>
          <li>
            Eliminé setecientos errores en los procesos de Onboarding y
            Offboarding para una campaña global, logrando una precisión del 100%
            en los datos procesados.
          </li>
          <li>
            Creé un panel financiero para mostrar bonificaciones dentro de un
            proceso de gestión de usuarios, lo que incrementó la transparencia
            en la toma de decisiones.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
