<div class="main-container">
  <app-sidebar></app-sidebar>
  <div class="profile-container">
    <h1>Andrés Felipe Vargas González</h1>

    <!-- Imagen de perfil -->
    <div class="profile-image">
      <img
        src="https://res.cloudinary.com/dehfpzadt/image/upload/v1730578457/Imagen_de_WhatsApp_2024-08-03_a_las_15.02.56_58c10f61_zvuu32.jpg"
        alt="Andrés Felipe Vargas González"
      />
    </div>

    <!-- Descripción del perfil -->
    <p class="profile-description">
      Administrador de Empresas y estudiante de Ingeniería Informática con más
      de 7 años de amplia experiencia en procesos de
      <strong>BPO Workforce</strong>. Poseo una sólida experiencia en
      automatización de procesos especialmente en BPO en el área de Workforce
      utilizando <strong>Python</strong> y <strong>SQL</strong>, con habilidades
      especiales en desarrollo de RPAs.
      Habilidad en soluciones de Business Intelligence (BI), que abarcan la
      recopilación, procesamiento y análisis de datos. Competente en la creación
      de visualizaciones impactantes y narración de datos convincentes
      utilizando Power BI y Excel para facilitar la toma de decisiones
      estratégicas en métricas clave de rendimiento. Poseo habilidades en desarrollo FullStack
      con tecnologías como Angular, NodeJS y Java Spring.
    </p>

    <p class="profile-description">
      Éxito demostrado trabajando con empresas multinacionales en planificación
      de capacidad operativa, automatización de tareas y optimización de
      procesos a través de la programación. Experto en modelado de datos,
      procesos <strong>ETL</strong> y mejora del rendimiento del código para
      lograr resultados óptimos.
    </p>
  </div>
</div>
