<div class="main-container">
  <app-sidebar></app-sidebar>
  <div class="contact-container">
    <!-- Sección de información de contacto -->
    <div class="contact-info">
      <h2>Contáctame para darte soluciones</h2>
      <p>Si deseas discutir sobre proyectos o soluciones tecnológicas, no dudes en contactarme. Estoy aquí para ayudarte a transformar tus ideas en realidad.</p>

      <p><strong>Contacto</strong><br>+57 3194740163</p>
      <p><strong>Asesoría</strong><br><a href="mailto:andresvargas@devbyandresvargas.net">andresvargas&#64;devbyandresvargas.net</a></p>
    </div>

    <!-- Formulario de contacto -->
    <form class="contact-form">
      <label for="name">Nombre completo</label>
      <input type="text" id="name" placeholder="Introduce tu nombre aquí">

      <label for="email">Correo electrónico*</label>
      <input type="email" id="email" placeholder="Introduce tu email aquí" required>

      <label for="message">Mensaje*</label>
      <textarea id="message" rows="4" placeholder="Escribe tu mensaje aquí" required></textarea>

      <button type="submit">Enviar mensaje</button>
    </form>
  </div>
</div>
